*{
	margin: 0px;
	padding: 0px;	
}
html, body{
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #5f5f5f;
	animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
body{
	background-image: url('../img/topleft.png'), url('../img/paper-bg.png'); 
	background-size: 40%, auto;
	background-position: top left, auto;
	background-repeat: no-repeat, repeat;
}
.container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
ul.navbar>li, ul.social>li{
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	margin: 3px;
}
ul.navbar>li>a{
	padding: 8px 30px;
	letter-spacing: 5px;
	font-weight: 400px;
}
ul.navbar>li{
	padding-top: 8px;
	padding-bottom: 8px;
}
a{
	text-decoration: none;
	color: inherit;
}

li{
	list-style-type: none;
}
.center{
	text-align: center;
}
.active{
	background-image: url('../img/paper-bg.png'); 
	color: #868686;
	-webkit-box-shadow: inset 0px 0px 16px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 16px -10px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 16px -10px rgba(0,0,0,0.75);
}
.social{
	text-align: center;
}
.nav{
	margin-top: 1.5%;
}
/*mobile*/
[class*="col-"] {
    float: left;
    width: 100%;
}
/*for mobile*/
@media only screen and (max-width: 768px) {
	.brand{
		margin-top: 0px;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		font-size: 15px;
		line-height: 120%;
		text-transform: uppercase;
		margin-bottom: 5px;
		letter-spacing: 5px;
		}
	.job-desc{
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		font-size: 12px;
		line-height: 120%;
		letter-spacing: 2.2px;
		text-transform: capitalize;
		animation: fadein 5s;
	    -moz-animation: fadein 5s; /* Firefox */
	    -webkit-animation: fadein 5s; /* Safari and Chrome */
	    -o-animation: fadein 5s; /* Opera */
		}
	.nav{
		display: none;
	}
	.desktop{
		display: none;
	}
	.mobile-nav{
		margin-top: 8%;
	}
	.hamburger{
		margin-top: 1%;
	}
	.col-s-1{width: 100%;}
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}


	span.navicon{
		border: none;
		background-image: url('../img/paper-bg.png'); 
		background-color: #fff;
		cursor: pointer;
		float: right;
	}
	span.navicon.active{
		box-shadow: none;
	}
	.sidepanel{
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
		background-color: #072c46;
		border-left: solid 1px #d7d7d7;
		color: #e7e7e7;
	}
	.sidepanel a{
		padding: 8px 8px 8px 32px;
		display: block;
		transition: 0.3s;
	}
	.closebtn {
	    position: absolute;
	    top: 0;
	    font-size: 36px !important;
	    margin-right: 50px;
}
	#main {
	    transition: margin-left 0.5s;
	    padding: 20px;
	}
}
/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 768px) {
	.desktop-nav{
		display: none;
	}
	.brand{
		text-align: center;
		margin-top: 10%;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		font-size: 30px;
		line-height: 120%;
		text-transform: uppercase;
		margin-bottom: 15px;
		letter-spacing: 10.5px;
	}
	.job-desc{
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		font-size: 12px;
		line-height: 120%;
		letter-spacing: 6.2px;
		text-transform: capitalize;
		animation: fadein 5s;
	    -moz-animation: fadein 5s; /* Firefox */
	    -webkit-animation: fadein 5s; /* Safari and Chrome */
	    -o-animation: fadein 5s; /* Opera */
	}
	.col-m-1{width: 100%;}
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}

}
/*desktop*/
@media only screen and (min-width: 768px) {
	.col-1{width: 100%;}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.brand{
		text-align: center;
		margin-top: 3%;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		font-size: 40px;
		line-height: 110%;
		text-transform: uppercase;
		margin-bottom: 15px;
		letter-spacing: 10.5px;
	}
	.job-desc{
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		font-size: 15px;
		line-height: 120%;
		letter-spacing: 7px;
		text-transform: capitalize;
		animation: fadein 5s;
	    -moz-animation: fadein 5s; /* Firefox */
	    -webkit-animation: fadein 5s; /* Safari and Chrome */
	    -o-animation: fadein 5s; /* Opera */
	}
	.mobile-nav{
		display: none;
	}
}
.portfolio{
	content: "";
	clear: both;
}
.img1{
	background-image: url(../img/cv.jpg);
}
.img2{
	background-image: url('../img/travelers.jpg');
}
.img3{
	background-image: url('../img/vintage.jpg');
}
.portfolio-prev{
	min-height: 200px;
	background-size: cover;
	background-position: center;
	margin: 20px;
}
.portfolio-desc{
	padding: 0px !important;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Oswald', sans-serif;
	font-weight: 300px;
}
.footer-nav{
	clear: both;
	padding-top: 4%;
	text-align: center;
}
.footer{
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	position: relative;
	bottom: 0;
	font-style: normal;
	font-weight: 300px;
}
form{
	margin-top: 30px;
	width: 100%;
}
input[type= "text"].mail, textarea.mail, input[type= "email"].mail{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 8px 10px;
	display: block;
	margin-bottom: 3px;
	width: 100%;
	max-width: 100%;
	color: #8c8c8c;
}
input[type="submit"]{
	background-color: #008e0b;
	color: #fff;
	cursor: pointer;
	float: right;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 8px 10px;
	display: block;
	margin-top: 10px;
	margin-bottom: 3px;
	width: 30%;
}
h1{
	margin-top: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.mainpage{
	position: relative;
	top: 20vh;
	text-align: center;
}
.sidenav>hr{
	padding: 0px;
	margin: 0px;
	width: 2%;
	float: right;
}
.normal-font{
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 300 !important;
	letter-spacing: 2px;
}
.right{
	float: right;
}
.construct{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 400 !important;
	font-size: 12px;
	color: #e74c3c;
	letter-spacing: 6px;
}